body {
    padding: 70px;
}
input {
    margin-bottom: 10px;
}
p {
  margin: 0;
}
.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.completed {
  text-decoration: line-through;
}